<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</head>
    <body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BBS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">文章 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">随笔</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">

          {% if request.user.is_authenticated %}
              <li><a href="#">{{ request.user.username }}</a></li>
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多操作 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-target="#myModal" data-toggle="modal">修改密码</a></li>
            <li><a href="#">修改头像</a></li>
            <li><a href="#">后台管理</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}">退出登录</a></li>
          </ul>
        </li>
            {% else %}
              <li><a href="{% url 'login' %}">登录</a></li>
                 <li><a href="{% url 'register' %}">注册</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">重金求子</h3>
              </div>
              <div class="panel-body">
                  事成之后，上海大别墅一套,VX:21321321
              </div>
            </div>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">百万大奖</h3>
              </div>
              <div class="panel-body">
                  赶紧联系:13838384388
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">在线直播</h3>
              </div>
              <div class="panel-body">
                  点我点我有你好看哟~
              </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for article in article_queryset %}
                <div class="media">
                <h4 class="media-heading"><a href="/{{ article.blog.userinfo.username }}/article/{{ article.pk }}/">{{ article.title }}</a></h4>
                  <div class="media-left media-middle">
                    <a href="#">
                      <img class="media-object" src="/media/{{ article.blog.userinfo.avatar }}/" alt="..." height="60">
                    </a>
                  </div>
                  <div class="media-body">
                      {{ article.desc }}
                  </div>
{#                软件老王 发布于 2019-12-10 08:18 评论(0)阅读(84)#}
                    <br>
                    <div>
                        <span><a href="{% url 'username' article.blog.userinfo.username  %}">{{ article.blog.userinfo.username }}&nbsp;&nbsp;</a></span>
                        <span>发布于&nbsp;&nbsp;</span>
                        <span>{{ article.create_time|date:'Y-m-d' }}&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-comment"></span>评论数({{ article.comment_num }})&nbsp;&nbsp;</span>
                        <span><span class="glyphicon glyphicon-thumbs-up"></span>点赞数({{ article.up_num }})</span>
                    </div>
                
                </div>
                <hr>
            {% endfor %}








        </div>
        <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">重金求子</h3>
              </div>
              <div class="panel-body">
                  事成之后，上海大别墅一套,VX:21321321
              </div>
            </div>
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">百万大奖</h3>
              </div>
              <div class="panel-body">
                  赶紧联系:13838384388
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">在线直播</h3>
              </div>
              <div class="panel-body">
                  点我点我有你好看哟~
              </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">修改密码</h4>
      </div>
      <div class="modal-body">
          <form action="{% url 'set_pwd' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                  <label for="id_username">用户名</label>
                  <input type="text" id="id_username" name="username" disabled class="form-control" value="{{ request.user.username }}">
              </div>
              <div class="form-group">
                  <label for="id_password">原密码</label>
                  <input type="password" id="id_password" name="old_password" class="form-control" >
              </div>
              <div class="form-group">
                  <label for="id_new_password">新密码</label>
                  <input type="password" id="id_new_password" name="new_password" class="form-control">
              </div>
              <div class="form-group">
                  <label for="id_confirm_password">确认密码</label>
                  <input type="password" id="id_confirm_password" name="confirm_password" class="form-control">
              </div>
              <div class="modal-footer">
                <button  class="btn btn-default" data-dismiss="modal">取消</button>
                <button  class="btn btn-primary">修改</button>
              </div>
          </form>
      </div>

    </div>
  </div>
</div>


</body>
</html>