<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">注册页面</h2>
            <form id="myform">
                {% csrf_token %}
                {% for foo in form_obj %}
                    <div class="form-group">
                        <label for="{{ foo.auto_id }}">{{ foo.label }}</label>
                        {{ foo }}
                        <span class="errors pull-right" style="color: red"></span>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label for="mdd">头像
                    <img src="/static/img/default.jpg" alt="" width="80" style="margin-left: 10px" id="img">
                    </label>
                    <input type="file" name="avatar" id="mdd" style="display: none">
                </div>
                <input type="button" class="btn btn-success pull-right" value="注册" id="submit">
            </form>
        </div>
    </div>
</div>

<script>
    $('#mdd').on('change',function () {
        // 需要利用内置对象 FileReader完成文件的读取操作
        let MyFileReader = new FileReader();
        // 获取用户上传的文件对象
        let fileObj = $(this)[0].files[0];
        // 让文件阅读器 读取文件
        MyFileReader.readAsDataURL(fileObj);  // IO操作   异步
        // 将读取之后的内容替换到img标签src属性中
        MyFileReader.onload = function(){  // 等待文件阅读器读取完毕之后再执行下面的代码
             $('#img').attr('src',MyFileReader.result)
        }
    });

    // 提交按钮
    $('#submit').click(function () {
        // 将用户输入的数据全部发送给后端     普通的键值对   文件
        let MyFormData = new FormData();
        // 不停的朝里面添加键值对
        {#MyFormData.append('','')#}
        {#console.log($('#myform').serializeArray())#}
        // 普通键值对添加完毕 （利用form标签内部有一个自动序列化普通键值对方法）
        $.each($('#myform').serializeArray(),function (index,obj) {
            MyFormData.append(obj.name,obj.value)
        });
        // 手动添加文件数据
        MyFormData.append('avatar',$('#mdd')[0].files[0]);
        // 发送ajax请求
        $.ajax({
            url:'',
            type:'post',
            data:MyFormData,
            // 发送文件一定要指定两个参数
            processData:false,  // 不要让浏览器处理你的数据
            contentType:false,  // 不要使用任何的编码  django能够识别对象自身

            success:function (data) {
                if (data.code == 1000){
                    // 跳转到登录页面
                    window.location.href = data.url
                }else{
                    $.each(data.msg,function (index,obj) {
                        {#console.log(index,obj)#} // index就是报错字段  obj就是错误信息 数组的形式
                        // 获取报错字段  手动拼接处该字段所对应的input框的id值
                        let targetId = '#id_' + index;
                        $(targetId).next().text(obj[0]).parent().addClass('has-error')
                    })
                }
            }
        })

    });
    // input框获取焦点事件
    $('input').focus(function () {
        $(this).next().text('').parent().removeClass('has-error')
    })
</script>

</body>
</html>